.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  padding: 40px;
}

.pagination {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.grid-wrapper {
  padding-bottom: 40px; /* space between grid and footer */
}
